.login_form {
	background: var(--card-bg);
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,.25);
	margin-bottom: 30px;
	padding: 1em;

	&__label,
	&__checkbox {
		color: var(--card-author-name);
		text-decoration: none;

		&.login_form__link {

			&:hover {
				color: var(--color-blue);
			}
		}
	}
}