.profile {
	margin-top: 265px;

	&__container {
		background: var(--color-gray);
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		height: 200px;
		text-align: center;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
		width: 200px;

		&:before {
			border: 3px dashed white;
			border-radius: 5px;
			content: '';
			height: 160px;
			position: absolute;
			right: 18px;
			top: 18px;
			width: 160px;
		}
	}

	&__image {
		display: block;
		height: inherit;
		width: inherit;
	}

	&__name,
	&__member-since {
		text-align: center;
		color: var(--card-author-name);
	}

	&__name {
		margin-bottom: 0;
	}

	&__member-since {
		font-weight: 200;
		margin-top: 0;
	}

	&__follow {
		text-align: center;
		margin: 50px 0;

		&-link {
			display: inline-block;
			padding: .75em 4.75em;
			background: var(--color-blue);
			color: white;
			text-decoration: none;
			text-transform: lowercase;
			border-radius: 2em;
			border: 2px solid var(--color-blue);

			&:hover {
				background: transparent;
				border-color: var(--color-blue-light);
				color: var(--color-blue-light);
			}
		}
	}
}