<%= render 'layouts/shared/header' do %>
<% end %>

<div class="container">
<form action="#" class="card_form">
  <div class="card_form__card">
    <div class="card_form__picture">
      <div class="card_form__picture-span" id="dropzone">
        <div class="fallback">
          <input id="#foo" name="landscape[image]" type="file" />
        </div>
      </div>
    </div>

    <div class="card_form__inputs">
      <label for="landscape[title]" class="label">Título</label>
      <div class="control">
        <input
          id="landscape-title"
          type="text"
          name="landscape[title]"
          class="card_form__input-title"
          placeholder="Escribe aquí el título"
        />
      </div>
      <label for="landscape[description]" class="label">Descripción</label>
      <div class="control">
        <textarea
          id="landscape-description"
          name="landscape[description]"
          class="card_form__input-description"
          placeholder="Escribe aquí la descripción"
        ></textarea>
      </div>
    </div>
  </div>
  <input id="btn-form-landscape-new-submit" type="button" value="Crear Landscape" class="card_form__submit" />
</form>

<div id="tpl">
  <div class="dz-preview dz-file-preview well" id="dz-preview-template">
    <div class="dz-details">
      <div class="dz-image"><img data-dz-thumbnail alt src></div>
    </div>
      <div class="dz-filename"><span data-dz-name></span></div>
    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
    <div class="dz-success-mark"><span></span></div>
    <div class="dz-error-mark"><span></span></div>
    <div class="dz-error-message"><span data-dz-errormessage></span></div>
  </div>
</div>
</div>