<form action="#">
<%= render 'layouts/shared/header', image: '' do %>
	<div class="profile">
		<div class="profile__container--empty">
		</div>
	</div>
<% end %>

<div class="container">
		
	<div class="field">
		<label class="card_form__label-title label">Nombre</label>
		<div class="control">
			<input class="card_form__input-title input" type="text" placeholder="Name">
		</div>
	</div>
	
	<div class="field">
		<label class="card_form__label-title label">Apellido</label>
		<div class="control">
			<input class="card_form__input-title input" type="text" placeholder="Lastname">
		</div>
	</div>

	<div class="field">
		<label class="card_form__label-title label">Sobrenombre</label>
		<div class="control has-icons-left has-icons-right">
			<input class="card_form__input-title input is-success" type="text" placeholder="Text input" value="nickname">
			<span class="icon is-small is-left">
				<i class="fas fa-user"></i>
			</span>
			<span class="icon is-small is-right">
				<i class="fas fa-check"></i>
			</span>
		</div>
		<p class="help is-success">This username is available</p>
	</div>

	<div class="field">
		<label class="card_form__label-title label">Email</label>
		<div class="control has-icons-left has-icons-right">
			<input class="card_form__input-title input is-danger" type="email" placeholder="Email input" value="hello@">
			<span class="icon is-small is-left">
				<i class="fas fa-envelope"></i>
			</span>
			<span class="icon is-small is-right">
				<i class="fas fa-exclamation-triangle"></i>
			</span>
		</div>
		<p class="help is-danger">This email is invalid</p>
	</div>

	<div class="field">
		<div class="control text-center">
			<input type="submit" name="commit" value="Guardar" class="button is-link">
		</div>
	</div>

</div>
</form>
