body {
    background-color: var(--main-bg);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100%;
    padding: 0;
  }

  h1,h2,h3 {
    font-family: 'KelsonSans';
  }

  .input,
  .textarea {
  	box-sizing: border-box;
  }

  .text-center {
  	text-align: center;
  }

  .navbar {
    background-color: var(--card-bg);

    &-menu {
      background-color: var(--card-bg);
    }

    &-item {
      color: var(--card-color);
    }

    &-burger {
      height: 5rem;
      color: var(--card-color);
    }

    &-brand {
      min-height: 5rem;
    }
  }
